<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://localhost:5000/">Gestión de Alumnos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Matrícula
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="http://localhost:5000/student/matricula-info1">Info1 / Compu1</a></li>
            <li><a class="dropdown-item" href="http://localhost:5000/student/matricula-info2">Info2 / Compu2</a></li>
          </ul>
        </li>          
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Calificar
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="http://localhost:5000/calificacion/info1">Info 1</a></li>
            <li><a class="dropdown-item" href="http://localhost:5000/calificacion/tpg?code=info1">TPG Info1</a></li>
            <li><a class="dropdown-item" href="http://localhost:5000/calificacion/info2">Info 2</a></li>
            <li><a class="dropdown-item" href="http://localhost:5000/calificacion/tpg?code=info2">TPG Info2</a></li>
          </ul>
        </li>          
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            T.P. Grupal
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="http://localhost:5000/tpg?code=info1">Info1</a></li>
            <li><a class="dropdown-item" href="http://localhost:5000/tpg?code=info2">Info2</a></li>
            <li><a class="dropdown-item" href="http://localhost:5000/tpg/grupostpg?code=info1">Grupos Info1</a></li>
            <li><a class="dropdown-item" href="http://localhost:5000/tpg/grupostpg?code=info2">Grupos Info2</a></li>
          </ul>
        </li>          
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Certificados
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="http://localhost:5000/certificacion/cert-parc?code=info1bio">Info 1 BIO</a></li>
            <li><a class="dropdown-item" href="http://localhost:5000/certificacion/cert-parc?code=info1elo">Info 1 ELO</a></li>
            <li><a class="dropdown-item" href="http://localhost:5000/certificacion/cert-parc?code=info2bio">Info 2 BIO</a></li>
            <li><a class="dropdown-item" href="http://localhost:5000/certificacion/cert-parc?code=info2elo">Info 2 ELO</a></li>
          </ul>
        </li>          
      </ul>
    </div>
  </div>
</nav>