<div class="card">
    <div class="card-body">

        <h1>About</h1>
        <p>La API esta diseñada para la gestión no oficial de alumnos de Informática y Computación I y II. En ella se icluirá el armado de comisiones de laboratorio y grupos de trabajo práctico, así como el guardado de diversas notas.
            Esta API esta disañada con NodeJS y MongoDB.
        </p>
        <hr class="my-4">
        <p>Powered by TropuraTempura</p>
    </div>
</div>